body {
    background-color: #1f2937;
    background-size: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container .header {
    display: flex;
    color: #f9faf8;
    font-size: 24px; 
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 48px;
}

.flex-container .header .links {
    display: flex;
    gap: 8px;
    
}

.flex-container .header .links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.flex-container .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
}

.flex-container .footer h1 {
    color: #e5e7eb;
    font-size: 12px;
}

.flex-container .hero {
    display: flex;
    gap: 64px;
    margin: 48px;
}

.flex-container .hero .hero-text {
    display: flex;
    flex-direction: column;
}

.flex-container .hero .hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
}

.flex-container .hero .hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.flex-container .hero .hero-text .links {
    display: flex;
}

.flex-container .hero .hero-text .links a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
    background-color: #3882f6;
    width: 128px;
    text-align: center;
}

.flex-container .hero img {
    height: 256px;
    width: 1024px;
}
