body {
    background-size: auto;
    background-color: #171f2b;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 48px;
}

.flex-container .header {
    display: flex;
    color: #f9faf8;
    font-size: 24px; 
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #1f2937;
    padding: 16px;
}

.flex-container .header .links {
    display: flex;
    gap: 8px;
    
}

.flex-container .header .links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.flex-container .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.flex-container .footer h1 {
    color: #e5e7eb;
    font-size: 12px;
}

.flex-container .hero {
    display: flex;
    gap: 64px;
    background-color: #1f2937;
    padding: 16px;
}

.flex-container .hero .hero-text {
    display: flex;
    flex-direction: column;
}

.flex-container .hero .hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
}

.flex-container .hero .hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.flex-container .hero .hero-text .links {
    display: flex;
}

.flex-container .hero .hero-text .links a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
    background-color: #3882f6;
    border-radius: 5px;
    width: 128px;
    text-align: center;
}

.flex-container .hero img {
    height: 256px;
    width: 1024px;
}

.flex-container .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 16px 16px;
}
.flex-container .information h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.flex-container .information .info-content {
    display: flex; 
    align-items: center;
    justify-content: center;  
}

.flex-container .information .info-content .img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container .information .info-content .img-info img {
    border-color: #3882f6;
    border-width: 5px;
    height: 100px;
    width: 100px;
}